body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.student-list {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student:last-child {
    border-bottom: none;
}

.student-info {
    flex: 1;
}

.moyenne {
    font-weight: bold;
}
#btn{
    width: 217px;
    background-color: black;
    font-family: cursive;
    font-size: larger;
    color: white;
    margin-left: 597px;

}