body {
  margin: 0;
  font-family: Arial, sans-serif;
   background-color: linear-gradient(to bottom, #33ccff 0%, #66ff99 100%) 
}

.header {
  overflow: hidden;
  background-color: rgba(72, 236, 121,0.8);
  padding: 5px 10px;
}

.header a {
  display: flex;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  border-radius: 4px;
}

.header a.logo {
 
  font-family: cursive;
  color: rgb(29, 29, 37);
}

.header a:hover {
  background-color: rgba(77, 174, 58, 0.763)3;
  color: black;
}

.header-right {
  float: right;
  margin-right: 85px;
  font-family: cursive;
}
#logo1 {
  display: flex;
}

#logoschool {
  margin-left: 140px;
  width: 30px;
  height: 30px;
  margin-top: 7px;
}
.center-text {
  height: 32px;
  text-align: center;
  justify-content: center;
  background-color: black;
  background-color: #66ff99f0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*center the container of the button */
.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.center-button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;

}

#row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
}

#card {
  flex: 0 1 calc(30% - 20px); /* Adjust the width of each card as needed */
  margin: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.div-btn-1 {
  margin-top: 5px;
  
}

.div-btn-2{
  margin-top: 15px;
  margin-bottom: 4px;
}
.btn-update{
  background-color: lightskyblue;
    height: 27px;
    width: 150px;
    color: #fcfbff;
    border: hidden;
    cursor: pointer;
} 
.btn-delete{
  background-color: lightskyblue;
  height: 27px;
  width: 150px;
  color: #fcfbff;
  border: hidden;
  cursor: pointer;
}
#centerButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
#create-button{
  background-color: rgb(164, 250, 135);
  height: 50px;
  width: 250px;
  color: #461ad7;
  border: hidden;
  cursor: pointer;
}
.ab{
  font-family: cursive;
}